.wrapper {
    position: relative; /* Contains the absolute positioning */
    box-shadow: inset 0 0 5rem 3.5rem rgb(0, 0, 0);
  }
  
  .video,
  .canvas {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: transparent; /* Set a transparent background */
  }
  
  .video {
    padding: 7rem; /* Spacing to reveal the glow */
  }